a{
    display: inline;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

h1{
    background-color:grey;
    border-bottom: 2px;
    border-top: 2px;
    border-left: 2px;
    border-right: 2px;
    width: 100px;    
}

h4{
    background-color:black;
    border-bottom: 2px;
    border-top: 2px;
    border-left: 2px;
    border-right: 2px;
    width: 300px; 
    color: white; 
    text-align: center;
    font-size: large;
}

p{
    font-size: large;
}

li{
    border-bottom: 2px;
    border-top: 2px;
    border-left: 2px;
    border-right: 2px;
    padding-bottom: 10px;
}

textarea{
    height: 55px;
}

img{
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 2px;
    padding-right: 2px;
}